<nav class="navbar navbar-light bg-light navbar-expand-md">
    <a class="navbar-brand" href="#">Personel Yönetim Sistemi Toplam Gider:
    @{Html.RenderAction("ToplamMaas", "Personel");}
    </a>
    Hoş Geldin @HttpContext.Current.User.Identity.Name
<ul class="nav navbar-nav">
    <li class="active nav-item">
        <a href="/Departman" class="nav-link">Departmanlar</a>
    </li>
    <li class="nav-item">
        <a href="/Personel" class="nav-link">Personeller</a>
    </li>
    <li class="nav-item">
        <a href="/Security/Logout" class="nav-link">Çıkış Yap</a>
    </li>
    <li class="nav-item">
        <a href="/Kullanici" class="nav-link">Kullanıcılar</a>
    </li>
</ul>
</nav>
